<div class="checkout-main-area pt-70 pb-70">
    <div class="container">
        <div class="customer-zone mb-20">
            <p class="cart-page-title">Returning customer? <a class="checkout-click1" (click)="showLogin()">Click
                    here to login</a>
            </p>
            <div class="checkout-login-info" [class.show]="show">
                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new
                    customer, please proceed to the Billing & Shipping section.</p>
                <form action="#">
                    <div *ngIf="error" class="alert alert-danger">Invalid username / email address and password
                        combination.</div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="sin-checkout-login">
                                <label>Username or email address <span>*</span></label>
                                <input type="text" name="user-name" ngModel #name="ngModel">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="sin-checkout-login">
                                <label>Passwords <span>*</span></label>
                                <input type="password" name="user-password" ngModel #password="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="button-remember-wrap">
                        <button class="button" (click)="onLogin(name.value,password.value)">Login</button>
                        <div class="checkout-login-toggle-btn">
                            <input type="checkbox">
                            <label>Remember me</label>
                        </div>
                    </div>
                    <div class="lost-password">
                        <a href="#">Lost your password?</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="checkout-wrap pt-30">
            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap mr-50">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label>First Name <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                                    <label>Last Name <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label>Address <abbr class="required" title="required">*</abbr></label>
                                    <input placeholder="Apartment, suite, unit etc." type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label>State / County <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label>Postcode / ZIP <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label>Phone <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="billing-info mb-20">
                                    <label>Email Address <abbr class="required" title="required">*</abbr></label>
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="additional-info-wrap">
                            <label>Order notes</label>
                            <textarea placeholder="Notes about your order, e.g. special notes for delivery. "
                                name="message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="your-order-area">
                        <h3>Your order</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-info-wrap">
                                <div class="your-order-info">
                                    <ul>
                                        <li>Product <span>Total</span></li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <ul>
                                        <li *ngFor="let item of cart|async">{{item.name}} X {{item.quantity}}<span>
                                                {{item.newPrice | currency:(currency|async):'symbol-narrow'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-subtotal">
                                    <ul>
                                        <li>Subtotal
                                            <span>{{ cartTotal|async | currency:(currency|async):'symbol-narrow'}}
                                            </span></li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-shipping">
                                    <ul>
                                        <li>Shipping
                                            <span>{{(((cartTotal|async)==0)? 0 :7.99)| currency:(currency|async):'symbol-narrow'}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="your-order-info order-total">
                                    <ul>
                                        <li>Total
                                            <span>{{(((cartTotal|async)==0)? 0 :((cartTotal|async)+7.99))| currency:(currency|async):'symbol-narrow'}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="Place-order mt-40">
                            <a href="#">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>