<div class="banner-area pt-100 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-banner mb-30 scroll-zoom">
                    <a routerLink="products/men/all"><img class="animated" src="assets/img/landing/1.jpg"
                            alt="shop men"></a>
                    <div class="banner-content banner-position-1">
                        <h3>20% off <br>Men</h3>
                        <h2>Spring <br> Fashion</h2>
                        <a routerLink="products/men/all">Shop Men</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-banner mb-30 scroll-zoom">
                    <a routerLink="products/women/all"><img class="animated" src="assets/img/landing/2.jpg"
                            alt="shop women"></a>
                    <div class="banner-content banner-position-1">
                        <h3>20% off <br> Women</h3>
                        <h2>Spring<br>Fashion</h2>
                        <a routerLink="products/women/all">Shop Women</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>