<div class="setting-wrap">
    <button class="setting-active" name="show-setting" (click)="onClick($event)">
        <i class="sli sli-settings"></i>
    </button>
    <div class="setting-content" [@slideInOut]="settAnimateState | async">
        <ul>
            <li>
                <h4>Currency</h4>
                <ul>
                    <li><a (click)="changeCurrency('USD')">USD</a></li>
                    <li><a (click)="changeCurrency('EUR')">EUR</a></li>
                    <li><a (click)="changeCurrency('CAD')">CAD</a></li>
                    <li><a (click)="changeCurrency('CNY')">CNY</a></li>
                </ul>
            </li>
            <!-- <li>
                <h4>Language</h4>
                <ul>
                    <li><a href="#">English (US)</a></li>
                    <li><a href="#">English (UK)</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </li> -->
            <li>
                <h4>Account</h4>
                <ul>
                    <li *ngIf="!auth.isLoggedIn()"><a routerLink="login-register" (click)="showLogin($event)">Login</a>
                    </li>
                    <li *ngIf="!auth.isLoggedIn()"><a routerLink="login-register" (click)="showRegister($event)">Creat
                            Account</a></li>
                    <li *ngIf="auth.isLoggedIn()"><a (click)="auth.onLogOut($event)">Log Out</a></li>
                    <li *ngIf="auth.isLoggedIn()"><a routerLink="my-account">My Account</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>