<div class="main-header-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2">
        <div class="logo pt-40">
          <a routerLink="/">
            <img src="assets/img/logo.png" alt="Logo of Parlo" />
          </a>
        </div>
      </div>
      <div class=" col-xl-7 col-lg-7 ">
        <app-main-nav></app-main-nav>
      </div>
      <div class="col-xl-3 col-lg-3">
        <div class="header-right-wrap pt-40">
          <app-search></app-search>
          <app-cart></app-cart>
          <app-setting></app-setting>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-small-mobile">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="mobile-logo">
          <a routerLink="/">
            <img alt="" src="assets/img/logo.png" />
          </a>
        </div>
      </div>
      <div class="col-6">
        <div class="header-right-wrap">
          <app-cart></app-cart>
          <div class="mobile-off-canvas">
            <a class="mobile-aside-button" href="#" (click)="slideMenu($event)"><i class="sli sli-menu"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>